name = "keywa"
main = "src/index.ts"
compatibility_date = "2022-08-09"

[[kv_namespaces]]
binding = "KEYWA"
id = "TO_BE_FILLED"
# To create: npx wrangler kv:namespace create KEYWA

# The necessary secrets are:
# - TELEGRAM_CHAT_ID
# - TELEGRAM_BOT_TOKEN
# Run `echo <VALUE> | wrangler secret put <NAME>` for each of these

